<!DOCTYPE html>
<html>

	<head>		
		<title>TrackMySter</title>
		{% block script %}
		{% endblock %}
		{% block style %}
		{% endblock %}	
	</head>
	<body>
		<div class="container-fluid" ng-app="trackmysterApp">
			{% block navigation %}
				<div class="modal-header">
	                <nav class="navbar navbar-default">
					  <div class="">					    
					      <ul class="nav navbar-nav">
					        <li><a ui-sref="home">Home</a></li>
					        <li><a ui-sref="livemap">Live Map</a></li> 
					        <li><a ui-sref="routehistory">Route history</a></li> 
					        <li><a ui-sref="attendance">Attendance Report</a></li> 
					      </ul>					    
					  </div>
					</nav>	                
	            </div>
			{% endblock %}
			    <div class="content">
			    	{% block content %}
			    	<div>This is base content</div>
			    	{% endblock %}
			    </div>	
			    <div class="modal-footer">
			      	{% block footer %}
			      	<div>This is footer</div>
			    	{% endblock %}
	            </div>		
		</div>
	</body>
</html>